.container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
}
.select {
  margin-bottom: 50px;
  padding: 10px 20px;
  margin-left: 50px;
  width: max-content;
}

.editor {
  display: flex;
  gap: 20px;
  height: 700px;
  position: relative;
  margin-bottom: 4rem;
}

.button,
.addButton {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--textColor);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.addButton {
  position: absolute;
  top: 10px;
}

.addButton label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.addButton span {
  font-size: 14px;
  color: var(--textColor);
  margin-top: 10px;
}

.addButton img {
  width: 24px;
  height: 24px;
}

.input {
  padding: 50px;
  font-size: 64px;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--textColor);
}

.input::placeholder {
  color: #b3b3b1;
}

.textArea {
  width: 100%;
  margin-top: 3rem;
}

