.container {

}

.categoryList{
    margin-top: 35px;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    width: 100%
  
  }
  
  .categoryItem {
    padding: 20px 35px;
    border-radius: 10px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    font-size: 16px;
    width: 15%;
  
  }

  .catTitle {
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .catTitle::first-letter {
    text-transform: capitalize;
  }

.title {
   margin: 50px 0px; 
}




.image{
    border-radius: 50%;
}



@media screen and (max-width: 1300px) {
    .categoryItem{
        width: 25%;
    }
}

@media screen and (max-width: 768px) {
    .categoryItem{
        width: 45%;
    }
}

@media screen and (max-width: 640px) {
    .categoryItem{
        width: 100%;
    }
}
